.jumbotron{
	width: 1000px;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto; 
}

* {
	margin: 0px;
	padding: 0px;
}

.galeria {
	margin: 10px auto;
	width: 900px;
	height: 307px;
	position: relative;
	overflow: hidden;
}

.foto {
	position: absolute;
	opacity: 0;
	animation-name: animacao;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

@keyframes animacao {
	
	25%{
	    opacity: 1;
	    transform:scale(1.1,1.1);
    }

    50%{
        opacity: 0;
}
.foto:nth-child(barber shop1) {
	
}

.foto:nth-child(barber shop2) {
	animation-delay: 5s;
}

.foto:nth-child(barber shop3) {
	animation-delay: 10s;
}

.btn-3d {
	position: relative;
	top: 6px;
	border: 0;
	transitions: all 40ms linear;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	
}
.btn-3d:active:focus,
.btn-3d:focus:hover,
.btn-3d:focus {
	-moz-outline-style: none;
	outline:medium none
}
.btn-3d:active,
.btn-3d.active{
	top:2px;
}
