<meta  charset="UTF-8" />
<div class="container">
	   <div class="jumbotron">
	      <!-- Campos  do formulário de fornecedores -->
	    	<form novalidate name = "frmFornecedor" >
				<div class="row">
					<div class="col-md-12">
						<label>Nome do Fornecedor: </label> <input type="nome"
							   class="form-control" name = "txtNomeFornecedor"  placeholder="Nome do fornecedor"
							   ng-model = "fornecedor.nomeFornecedor" required/>
							   <span ng-show = "frmFornecedor.txtNomeFornecedor.$error.riquered && frmFornecedor.txtNomeFornecedor.$dirty">Campo nome obrigatório</span>
	                </div>
	                <div class="col-md-6">
						<label>Endereço: </label> <input type="endereco" class="form-control" name = "txtEndereco"
							placeholder="Endereço" ng-model = "fornecedor.endereco" required/>
							<span ng-show = "frmFornecedor.txt.$error.riquered && frmFornecedor.txtEndereco.$dirty">Campo endereço obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>Bairro: </label> <input type="bairro" class="form-control" name = "txtBairro"
							placeholder="Bairro" ng-model = "fornecedor.bairro" required/>
							<span ng-show = "frmFornecedor.txtBairro.$error.riquered && frmFornecedor.txtBairro.$dirty">Campo bairro obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>Cidade: </label> <input type="cidade"
							   class="form-control" name = "txtCidade" placeholder="Nome da cidade"
							   ng-model = "fornecedor.cidade" required/>
							   <span ng-show = "frmFornecedor.txtCidade.$error.riquered && frmFornecedor.txtCidade.$dirty">Campo cidade obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>Uf: </label> <input type="uf" class="form-control" name = "txtUf"
							   placeholder="Uf" ng-model = "fornecedor.uf" required/>
							   <span ng-show = "frmFornecedor.txtUf.$error.riquered && frmFornecedor.txtUf.$dirty">Campo UF obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>CNPJ: </label> <input type="cnpj" class="form-control" name = "txCnpj"
							   placeholder="CNPJ" ng-model = "fornecedor.cnpj" required/>
							   <span ng-show = "frmFornecedor.txtCnpj.$error.riquered && frmFornecedor.txtCnpj.$dirty">Campo CNPJ obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>Telefone comercial: </label> <input type="telefone" name = "txtTelefone"
							   class="form-control" placeholder="Telefone comercial"
							   ng-model = "fornecedor.telefoneComercial" required/>
							   <span ng-show = "frmFornecedor.txtTelefone.$error.riquered && frmFornecedor.txtTelefone.$dirty">Campo telefone comercial obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>Celular: </label> <input type="celular" class="form-control" name = "txtCelular"
							   placeholder="Celular" ng-model = "fornecedor.celular" required/>
							   <span ng-show = "frmFornecedor.txtCelular.$error.riquered && frmFornecedor.txtCelular.$dirty">Campo celular obrigatório</span>
					</div>
					<div class="col-md-6">
						<label>Email: </label> <input type="email" class="form-control" name = "txEmail"
							   placeholder="Email" ng-model = "fornecedor.email" required/>
							   <span ng-show = "frmFornecedor.txtEmail.$error.riquered && frmFornecedor.txtEmail.$dirty">Campo email  obrigatório</span>
							   <span ng-show = "frmFornecedor.txtEmail.$error.email">Email inválido</span>      
					</div>
					<!-- Botão Slavar e botão cancelar -->
					<button id="salvar" class="btn btn-lg btn-success btn-3d" 
			                    ng-click = "salvarFornecedor()" ng-disabled = "frmFornecedor.$invalid">Salvar</button> 
					<button id="cancelar" class="btn btn-lg  btn-warning btn-3d" 
			                    ng-click = "cancelarAlteracaoFornecedor() " ng-disabled = "frmFornecedor.$invalid">Cancelar</button>
				</div>
			</form>
			<!-- Exibe os dados do fornecedor para o usuário em uma tabela -->		  
		   <table class="table table-striped">
		      <tr>
		        <th>Nome do fornecedor</th>
		        <th>Endereço</th>
		        <th>Bairro</th>
		        <th>Uf</th>
		        <th>CNPJ</th>
		        <th>Telefone comercial</th>
		        <th>Celular</th>
		        <th>Email</th>
		      </tr>
		      <tr ng-repeat = "forn in fornecedores">
                <td>{{forn.nomeFornecedor}}</td>
                <td>{{forn.endereco}}</td>
                <td>{{forn.bairro}}</td>
                <td>{{forn.uf}}</td>
                <td>{{forn.cnpj}}</td>
                <td>{{forn.telefoneComercial}}</td>
                <td>{{forn.celular}}</td>
                <td>{{forn.email}}</td>	
                <td><button class="btn btn-lg  btn-danger btn-block btn-3d" 
			                ng-click = "excluirFornecedor(forn)">Excluir</button></td>
			    <td><button class="btn btn-lg  btn-info btn-block btn-3d" 
			                ng-click = "alterarFornecedor(forn)">Alterar</button></td>                        	      
		      </tr>
		   </table>
	   </div>
	</div>