<!DOCTYPE html>
<html ng-app="appBarberShop">
<head>
<base href = "/"/>
<meta  charset="UTF-8" />
<title>Barber Shop</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="./js/app.js"></script>
<script src="./js/controller/fornecedor-controller.js"></script>
<script src="./css/style.css"></script>
<script src="./image/barber shop1.jpg"></script>
</head>
<body ng-controller = "indexController">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">BarberShop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Quem
						somos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Login</a></li>
			</ul>
		</div>
	</nav>

	<hr />
	<div class="container">
	   <div class="jumbotron">
	      <!-- Campos  do formulário de fornecedores -->
	    	<form>
				<div class="row">
					<div class="col-md-6">
						<label>Nome do Fornecedor: </label> <input type="text"
							class="form-control"
							placeholder="Nome do fornecedor" ng-model = "fornecedor.nomeFornecedor"/>
	                </div>
	                <div class="col-md-6">
						<label>Endereço: </label> <input type="text" class="form-control"
							placeholder="Endereço" ng-model = "fornecedor.endereco"/>
					</div>
					<div class="col-md-6">
						<label>Bairro: </label> <input type="text" class="form-control"
							placeholder="Bairro" ng-model = "fornecedor.bairro"/>
					</div>
					<div class="col-md-6">
						<label>Uf: </label> <input type="text" class="form-control"
							placeholder="Uf" ng-model = "fornecedor.uf"/>
					</div>
					<div class="col-md-6">
						<label>CNPJ: </label> <input type="text" class="form-control"
							placeholder="CNPJ" ng-model = "fornecedor.cnpj"/>
					</div>
					<div class="col-md-6">
						<label>Telefone comercial: </label> <input type="text"
							class="form-control" placeholder="Telefone comercial" ng-model = "fornecedor.telefoneComercial"/>
					</div>
					<div class="col-md-6">
						<label>Celular: </label> <input type="text" class="form-control"
							placeholder="Celular" ng-model = "fornecedor.celular"/>
					</div>
					<div class="col-md-6">
						<label>Email: </label> <input type="text" class="form-control"
							placeholder="Email" ng-model = "fornecedor.email"/>
					</div>
					<td><button class="btn btn-success" 
			                    ng-click = "salvarFornecedor()">Salvar</button></td> 
					<td><button id="alterar" class="btn btn-warning" 
			                    ng-click = "cancelarAlteracaoFornecedor()">Cancelar</button></td>
				</div>
			</form>
			<!-- Exibe os dados do fornecedor para o usuário em uma tabela -->		  
		   <table class="table table-striped">
		      <tr>
		        <th>Nome do fornecedor</th>
		        <th>Endereço</th>
		        <th>Bairro</th>
		        <th>Uf</th>
		        <th>CNPJ</th>
		        <th>Telefone comercial</th>
		        <th>Celular</th>
		        <th>Email</th>
		      </tr>
		      <tr ng-repeat = "forn in fornecedores">
                <td>{{forn.nomeFornecedor}}</td>
                <td>{{forn.endereco}}</td>
                <td>{{forn.bairro}}</td>
                <td>{{forn.uf}}</td>
                <td>{{forn.cnpj}}</td>
                <td>{{forn.telefoneComercial}}</td>
                <td>{{forn.celular}}</td>
                <td>{{forn.email}}</td>	
                <td><button class="btn btn-danger btn-block" 
			                ng-click = "excluirFornecedor(forn)">Excluir</button></td>
			    <td><button class="btn btn-info btn-block" 
			                ng-click = "alterarFornecedor(forn)">Alterar</button></td>                        	      
		      </tr>
		   </table>
		<!-- exibe os dados do formulário de fornecedores -->
		<div ng-view="ng-view">
		
		
		</div>   
	   </div>
	</div>
	<hr />
	<!--navbar inferior  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">BarberShop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Fale
						conosco</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Nos
						parceiros</a></li>
			</ul>
		</div>
	</nav>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
</html>